@font-face {
    font-family: 'Lulo';
    src: url('/assets/fonts/lulo-one/lulo-one-regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lulo';
    src: url('/assets/fonts/lulo-one/lulo-one-bold.ttf') format('truetype');
    font-weight: 700;
}