@import 'variables/responsive';
@import "variables/colors";
@import "variables/sizes";

$sans-serif: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;

    body {
        margin: 0;

        .app {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}









